#flashcard {
  width: 70vw;
  min-height: 40vw;
  box-shadow: 10px 10px 50px -10px;
  margin: 0 auto;
  user-select: none;
}

#question {
  font-size: 3vw;
  padding: 15px;
  text-align: center;
}

#answer {
  font-size: 2vw;
  padding: 15px;
}

@media (max-width: 767.98px) {
  #flashcard {
    width: 90vw;
    min-height: 60vh;
  }

  #question {
    font-size: 6vw;
  }

  #answer {
    font-size: 3vw;
  }
}

/* Table CSS */
table {
  width: 100%;
  text-align: center;
}

table td,
table th {
  border: 1px solid black;
}

/** create.html CSS */
#card-div > * {
  margin-top: 15px;
  display: block;
}

#title-field {
  width: 35%;
  height: 30px;
}

#desc-field {
  width: 40%;
  height: 150px;
}
